#content {
	width:600px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	border:1px dashed #333;
	background-color:#eee;
}

.table-cal {
  height: 250px;
  margin: 0px auto;
}

.day {
  width: 200px;
  text-align: center;
}

.day-off {
    background-color:#888888;
}
.day-half {
    background-color:#88DDBB;
}
.day-full {
	background-color:#00FF00;
}
.day-none {
	background-color:#BBBBBB;
}
.day-hide {
    visibility: collapse;
}

.button-form {
 float: right;	
}

.even {
	background-color: #88DDBB;
}