<div id="content" ng-init="init()">
    <h3 align="center">{{months[month].label}} {{year}}</h3>
    <table class="table-cal">
        <tr ng-repeat="day in days">
            <td ng-repeat="d in day" class="day day-{{d.type}}" ng-click="d.type = (d.type + 50) % 150">{{weekdays[d.weekday].label}} {{d.date}}</td>
        </tr>
    </table>
    <p align="right">
        <b>Total working days: {{workingdays()}}</b>
    </p>
    <hr width="50%">
    <table>
        <tr><td class="day-100">A Working day</td></tr>
        <tr><td class="day-50">A Half (1/2) working day</td></tr>
        <tr><td class="day-0">An Off day</td></tr>
    </table>

    <form ng-submit="save()">
        <div align="right">
            <input class="btn-primary" type="submit" value="Enregistrer">
        </div>
    </form>

</div>